# Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email-address
SMTP_PASS=your-email-pass

# Authentication
NEXTAUTH_SECRET=your-secret-key-here
AUTH_GOOGLE_ID=your-google-id-here
AUTH_GOOGLE_SECRET=your-google-secret-here

# URLs
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/neondb
WEB_URL=http://localhost:3000
